.postsBlock {
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;

    box-shadow: 0 14px 54px rgba(0, 0, 0, 0.03);
    margin: 10px;
}

.posts {
    margin-top: 10px;
}

.postsTitle {
    color: black;
}

.addPostWrapper {
    display: flex;
    gap: 10px
}

.button {
    background-color: #2f65b9;
    border-radius: 5px;
    padding: 0 20px;
    height: 40px;
    color: white;
    font-family: 'system-ui';
    font-weight: 600;
    border: 1px solid #2f65b9;
    cursor: pointer;
}

.button:hover {
    opacity: 0.5;
}