.nav {
    grid-area: n;
    background-color: white;
    padding: 20px 0 0 20px;
    color: #6f7f92;
    font-size: 23px;
    width: 200px;
}

.item {
    text-decoration: none;
    color: #6f7f92;
    width: 150px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.active {
    text-decoration: none;
    color: #2f65b9;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.navLinkContainer {
    margin-bottom: 8px;
}

.friends {
    margin-top: 100px;
}

.friends img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 5px;
}

.nameSection {
    margin-bottom: 10px;
}

.nameAndPhotoFriend {
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nameFriend {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
}

.infoFriends {
    display: flex;
    flex-direction: column;
    gap: 10px
}
