.content {
    grid-area: c;
    background-color: blue;
}

.avatarka {
    width: 100px;
}

.dialogs {
    color: white;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    display: flex;
    align-items: center;
}

.dialogsItems {
    padding: 10px;
    border-right: 1px solid #ddeaff;
}

.dialogsItems .active {
    color: gold;
}

.dialogWrap {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.dialog {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 14px 54px rgba(0, 0, 0, 0.03);
    margin-top: 10px;
    padding: 10px;
}

.dialog img, .ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 0 5px 0;
}

.navName {
    text-decoration: none;
    margin-left: 10px;
    color: #2f65b9;
}


/*Message*/
.message {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #ddeaff;
    margin: 20px 0;
}

.name {
    font-weight: bold;
    margin-bottom: 2px;
    color: #2f65b9;
    font-size: 14px;
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    font-size: 17px;
}

.textWrap {
    margin: 10px 0 10px 15px;
    padding: 5px 10px 10px;
    display: flex;
    align-items: flex-end;
    border-radius: 10px 10px 10px 0;;
    background-color: #abb8c3;
    color: white;
    position: relative;
}

.textWrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 25px;
    height: 30px;
    background: radial-gradient(65px at top left, transparent 49%, #abb8c3 51%) no-repeat right bottom;
}

.button {
    background-color: #2f65b9;
    border-radius: 5px;
    padding: 0 20px;
    height: 40px;
    color: white;
    font-family: 'system-ui';
    font-weight: 600;
    border: 1px solid #2f65b9;
    cursor: pointer;
}

.sendMessage {
    display: flex;
    gap: 10px;
}
